<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout Page</title>
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
    <script src="../public/lib/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../public/js/CheckoutPage.js"></script>
    <link href="../public/css/checkoutPage.css" rel="stylesheet" />
</head>

<body class='snippet-body'>
    <div class="card">
      <div class="row">
        <div id="cartBody" class="col-md-12 cart">
          <div class="title">
            <div id="cartTitleRow" class="row">
              <div class="col">
                <h4><b>Shopping Cart</b></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

</html>