<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/signin/">

    <title>Login Page</title>

    <!-- Bootstrap core CSS -->
    <link href="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/examples/signin/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <form id="login_form" class="form-signin" >
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password"required>
		  <p>
		    <a href="/verification">forget password?</a>
		  </p>
		  <p>
		    <a href="/register">Don't have account?</a>
		  </p>
       <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
	 
    </div> <!-- /container -->
	<div id="lastUrl" style="display: none;">{{lastPageUrl}}</div>
  
    <script src="../public/lib/jquery-3.4.1.min.js"></script>
    <script>
      $('#login_form').on('submit',function(e){
    	  e.preventDefault()
    	  var formData= $(this).serialize()
		  console.log(formData)
    	  $.ajax({
    		  url: '/login',
    		  type: 'post',
    		  data: formData,
    		  dataType: 'json',
    		  success: function (data) {
    			  var err_code = data.err_code
    			  if(err_code=== 0){
    				  window.alert('login success!')
					  var prevLink = document.referrer
					  console.log(prevLink)
					  if($.trim(prevLink)==''){
						   window.location.href='/'
					  }else{
						  if(prevLink.indexOf('reset')!=-1){
							 window.location.href='/'
						  }else if(prevLink.indexOf('register')!=-1){
							 window.location.href=document.getElementById("lastUrl").innerText
						  }else{
							  window.location.href=prevLink
						  }
						  
					  }
						   
    			  }else if (err_code === 1){
    				  window.alert('email or password wrong!')
    			  }else if(err_code === 500){
    				  window.alert('server busy!')
    			  }
    		  }
    	  })
      })
    
    </script>
    

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
