<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/public/css/userPage.css" />
<!--    <link-->
<!--      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"-->
<!--      rel="stylesheet"-->
<!--      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"-->
<!--      crossorigin="anonymous"-->
<!--    />-->
<!--    <script-->
<!--      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"-->
<!--      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"-->
<!--      crossorigin="anonymous"-->
<!--    ></script>-->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="http://fonts.googleapis.com/css?family=Bitter"
      rel="stylesheet"
      type="text/css"
    />
<!--    <script src="../public/lib/jquery-3.4.1.min.js"></script>-->
    <script type="text/javascript" src="/public/js/userPage.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>
    <title>sellPhone</title>
  </head>
  <body>
    <div class="user-page">
      <div class="user-page-tabs">
        <ul>
          <li class="tab selected">Edit Profile</li>
          <li class="tab">Change Password</li>
          <li class="tab">Manage Listings</li>
          <li class="tab">Check Reviews</li>
          <button
            type="button"
            class="btn btn-outline-secondary"
            onclick="signOut()"
          >
            Sign Out
          </button>
        </ul>
      </div>

      <div class="tabs-contents">
        <div class="content show-contents">
          <div class="form-style-10">
            <h1>Edit Profile!</h1>
            <form>
              <div class="section"><span>1</span>First Name & Last Name</div>
              <div class="inner-wrap">
                <label
                  >Your First Name
                  <input type="text" id="firstName" name="field1"
                /></label>
                <label
                  >Your Last Name
                  <input type="text" name="field1" id="lastName"
                /></label>
              </div>

              <div class="section"><span>2</span>Email</div>
              <div class="inner-wrap">
                <label
                  >Email Address <input type="email" id="email" name="field3"
                /></label>
              </div>

              <div class="button-section">
<!--                <button type="button" class="btns" onclick="updateProfile()" data-toggle="modal" data-target="#myModal">-->
<!--                  Update Profile-->
<!--                </button>-->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-lg" id="update" data-toggle="modal" onclick="verifyEmail()">
                  Update Profile
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Please input your password:</h4>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group" id="formGroup">
                            <label for="password"></label>
                            <input type="password" class="form-control" id="password">
                            <span id="hint" class="help-block"></span>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="confirmUpdate()">Confirm</button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </form>
          </div>
          <!-- <div class="top-inputs">
            <p>
              First Name:
              <input type="text" id="firstName" value="Loading..." />
            </p>
            <p>
              Last Name: <input type="text" id="lastName" value="Loading..." />
            </p>
            <p>
              Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                type="text"
                id="email"
                value="Loading..."
              />
            </p>
            <br />
            <button type="button" class="btns" onclick="updateProfile()">
              Update Profile
            </button>
          </div> -->
        </div>

        <div class="content">
          <div class="top-inputs">
            <div class="form-style-10">
              <h1>Edit Profile!</h1>
              <form>
                <div class="section"><span>1</span>Current Password</div>
                <div class="inner-wrap">
                  <label
                    >Your Current Password
                    <input type="password" id="cur-pwd" name="field1"
                  /></label>
                </div>

                <div class="section"><span>2</span>New Password</div>
                <div class="inner-wrap">
                  <label
                    >New Password
                    <input type="password" id="new-pwd" name="field3"
                  /></label>
                </div>

                <div class="button-section">
                  <button type="button" class="btns" onclick="changePassword()">
                    Change Password
                  </button>
                </div>
              </form>
            </div>
            <!-- <p>
              Current Password:
              <input
                type="text"
                id="cur-pwd"
                placeholder="Input your current password"
              />
            </p>
            <p>
              New Password: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                type="text"
                id="new-pwd"
                placeholder="Input your new password"
              />
            </p>
            <br />
            <button type="button" class="btns" onclick="changePassword()">
              Change Password
            </button> -->
          </div>
        </div>

        <div class="content">
          <div class="top-inputs">
            <div class="form-style-10">
              <h1>Manage Listing!</h1>
              <form>
                <div class="section"><span>1</span>Brand</div>
                <div class="inner-wrap">
                  <label> Brand:</label>
                  <select id="create-brand">
                    <option value="pendingBrand">-- Select a Brand --</option>
                    <option value="Samsung">Samsung</option>
                    <option value="Sony">Sony</option>
                    <option value="Apple">Apple</option>
                    <option value="BlackBerry">BlackBerry</option>
                    <option value="HTC">HTC</option>
                    <option value="Huawei">Huawei</option>
                    <option value="LG">LG</option>
                    <option value="Motorola">Motorola</option>
                    <option value="Nokia">Nokia</option>
                  </select>
                </div>

                <div class="section"><span>2</span>Title</div>
                <div class="inner-wrap">
                  <label
                    >Title: <input type="text" id="create-title" name="field3"
                  /></label>
                </div>
                <div class="section"><span>3</span>Stock</div>
                <div class="inner-wrap">
                  <label
                    >Stock: <input type="text" id="create-stock" name="field3"
                  /></label>
                </div>
                <div class="section"><span>4</span>Price</div>
                <div class="inner-wrap">
                  <label
                    >Price: <input type="text" id="create-price" name="field3"
                  /></label>
                </div>

                <div class="button-section">
                  <button type="button" class="btns" onclick="addNewListing()">
                    Add New Listing
                  </button>
                </div>
              </form>
            </div>

            <!-- <p>
              Brand:
              <select id="create-brand">
                <option value="pendingBrand">-- Select a Brand --</option>
                <option value="Samsung">Samsung</option>
                <option value="Sony">Sony</option>
                <option value="Apple">Apple</option>
                <option value="BlackBerry">BlackBerry</option>
                <option value="HTC">HTC</option>
                <option value="Huawei">Huawei</option>
                <option value="LG">LG</option>
                <option value="Motorola">Motorola</option>
                <option value="Nokia">Nokia</option>
              </select>
            </p>
            <p>
              Title: &nbsp;&nbsp;&nbsp;<input type="text" id="create-title" />
            </p>
            <p>Stock: &nbsp;<input type="text" id="create-stock" /></p>
            <p>Price: &nbsp;&nbsp;<input type="text" id="create-price" /></p>
            <button type="button" class="btns" onclick="addNewListing()">
              Add New Listing
            </button> -->
          </div>
          <div class="related-items">
            <table>
              <caption>
                Related Phone Listings
              </caption>
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Brand</th>
                  <th>Image</th>
                  <th>Stock</th>
                  <th>Price</th>
                  <th>Disable</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>

            <button type="button" class="btns" onclick="saveChanges()">
              Save Changes
            </button>
          </div>
        </div>
        <div class="content">
          <div class="top-inputs">
            <div class="container">
              <table>
                <caption>
                  Reviews
                </caption>
              </table>

              <div class="box" id="reviews"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://fastly.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.35/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
